 <header class="masthead d-flex bg-warning">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Ruby On Rails</h1>
      <h3 class="mb-5">
        <em>A Ruby On Rails landing page.</em>
      </h3>
      <a class="btn btn-primary btn-lg js-scroll-trigger col-3 p-5" href="login"><p class="h1 m-0">Login</p></a>
    </div>
    <div class="overlay"></div>
  </header>
